.volunteer-page {
  display: flex;
  min-height: 100vh;
  background: #fcedce;
  background-image:
    radial-gradient(#d6b98c 1px, transparent 1px);
  background-size: 25px 25px;
}

.sidebar {
  width: 260px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  padding: 30px;
  box-shadow: 0 8px 32px rgba(0,0,0,.1);
}

.sidebar h2 {
  color: #7a3d00;
  margin-bottom: 50px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 30px 0;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar li:hover {
  color: #c67d23;
  transform: translateX(6px);
}

.main-content {
  flex: 1;
  padding: 40px;
}

.welcome-title {
  text-align: center;
  color: #6b3300;
  margin-bottom: 35px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin-bottom: 35px;
}

.stat-card {
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(54, 31, 4, 0.318);
}

.stat-card h3 {
  color: #333;
}

.stat-card h2 {
  color: #d48927;
  font-size: 42px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.delivery-card,
.impact-card {
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(54, 31, 4, 0.318);
}

.impact-card {
  text-align: center;
}

.impact-number {
  font-size: 80px;
  color: #d48927;
  font-weight: bold;
  margin: 25px 0;
}

.accept-btn {
  background: #d48927;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.accept-btn:hover {
  background: #b26d15;
}

.table {
  margin-top: 20px;
}

.table th {
  background: #f2e1b9;
}

.table td,
.table th {
  vertical-align: middle;
}